.box_account {
    display: flex;
    flex-wrap: wrap;
    min-height: 80vh;
    width: 100%;
    background-color: #2e2e2e;
}

.account_left {
    display: flex;
    width: 50%;
    height: 100%;
}

.account_right {
    overflow-y: scroll;
    display: flex;
    width: 50%;
    height: 80vh;
    flex-direction: column;
    align-items: center;
}

.account_right::-webkit-scrollbar {
    width: 10px;
}

.account_right::-webkit-scrollbar-thumb {
    background-color: #121212;
}

.titulo_senha {
    font-weight: 400;
}

.alterar_senha {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.titulo_senha {
    margin-top: 10%;
    margin-bottom: 10%;
}

.ipt_alterar_senha {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-bottom: 5%;
}

.ipt_alterar_senha h4 {
    font-weight: 200;
}

.ipt_alterar_senha input {
    height: 6vh;
    width: 100%;
    margin-top: 1%;
    border-radius: 15px;
    border: none;
}

.ipt_alterar_senha input::placeholder {
    padding-left: 1%;
    font-size: medium;
}

.btn_salvar {
    margin-top: 5%;
    height: 6vh;
    width: 40%;
    background-color: #3b83bd;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    transition: 0.5s;
}

/* estilizacao deletar */

.deletar_conta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 5vh;
}

.deletar_conta .tittle {
    display: flex;
    height: 20vh;
    color: #f2f2f2;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}

.btn_del {
    height: 6vh;
    width: 40%;
    margin-bottom: 5vh;
    border-radius: 15px;
    font-size: medium;
    border: 1px solid #f2f2f2;
    color: #f2f2f2;
    background-color: #2e2e2e;
}

.are_you_sure {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.are_you_sure button {
    height: 6vh;
    width: 35%;
    border-radius: 15px;
    margin-bottom: 5vh;
    font-size: medium;
    font-weight: 400;
    border: none;
}

.btn_cancel {
    background-color: #f2f2f2;
}

.btn_delete {
    background-color: #c40236;
    color: #f2f2f2;
}